.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/AI Week2-checkpoint.ipynb
.ipynb_checkpoints/AIweek3-checkpoint.ipynb
.ipynb_checkpoints/DeepLearning-checkpoint.ipynb
.idea/misc.xml
.idea/misc.xml
.ipynb_checkpoints/Test-checkpoint.py
.ipynb_checkpoints/AiWeek2-checkpoint.ipynb
.ipynb_checkpoints/Test-checkpoint.py
.ipynb_checkpoints/Test-checkpoint.py
.idea/nptel.iml
.idea/misc.xml
